body {
    background-color: #101010;
}
h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: Ubuntu;
  }
  a {
 text-decoration: underline;
 color: #ffffff
  }