
          .ml15 {
            color: #ffffff;
            font-weight: 800;
            font-size: 3.7em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-family: Ubuntu;
          }
          
          .ml15 .word {
            display: inline-block;
            line-height: 1em;
          }
          
          .rgb {
            background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: hue 10s infinite linear;
            display: inline-block;
            line-height: 1em;
          }

          @-webkit-keyframes hue {
            from {
              -webkit-filter: hue-rotate(0deg);
            }
            to {
              -webkit-filter: hue-rotate(-360deg);
            }
          }